<!-- This file extends from the main.html template in this same directory. -->
<!-- Below the file is referenced as the parent to extend from using the path and filename as a string-->
<!-- The specific block to reference has to be explicitly called as well -->
{% extends 'picar/main.html' %}

{% block main_head %}

{% endblock %}

{% block settings %}
<li> <a id="cam_btn" class="btn-floating waves-effect waves-light red"><i class="material-icons">videocam</i></a></li>
<li> <a id="ign_btn" class="btn-floating waves-effect waves-light red"><i class="material-icons">directions_car</i></a></li>
<li> <a id="rst_btn" class="btn-floating waves-effect waves-light red"><i class="material-icons">autorenew</i></a></li>
{% endblock %}

