<!DOCTYPE html>

<!-- This file will serve as the main template format to avoid redundant html across multiple template files -->
<html>
<head>

	<meta charset="utf-8">
	<title>PiCar Dash</title>
	<!--Import materialize.css-->
	<!--
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	-->
	<!-- javascript had to be placed above the css load for materialize related javascript objects to be used. -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/materialize.min.css') }}"/>


	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!-- -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body style="background-color:#263238;">
	<nav class="deep-purple lighten-1">
        	<div class="nav-wrapper">
      			<a href="#" class="brand-logo">PiCar - Dash</a>
      			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<!--li><a href=" url admin:index">Admin</a></li-->
        			<!--<li><a href="badges.html">Components</a></li>
				<li><a href="collapsible.html">JavaScript</a></li>-->
      			</ul>
    		</div>
  </nav>
		
	{% block main_head %}

	{% endblock %}

	<div class="fixed-action-btn">
		<a id="set_btn" class="btn-floating btn-large deep-purple lighten-1">
			<i class="large material-icons">settings</i>
		</a>
		<ul id="set_ops" >
			{% block settings %}

			{% endblock %}
			
		</ul>
	</div>

	<div class="container" style="padding:1%;">
		{% block center_content %}

		{% endblock %}
	</div>
	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js) }}"></script>
	<script>

		$(document).ready( function(){
			var frame = document.getElementById("camFeed_frame");
		//	frame.src = "picar/static/picar/images/test.jpg";
		});
		//document.getElementById("camFeed_frame").src = " static picar/images/test.jpg";
		var controlbuttons = [
			document.getElementById("test_drive_btn"),
			document.getElementById("test_steer_btn"),
			document.getElementById("steer_left_btn"),
			document.getElementById("steer_right_btn"),
			document.getElementById("drive_forward_btn"),
			document.getElementById("drive_reverse_btn"),
			document.getElementById("drive_stop_btn"),
			document.getElementById("speed_increase_btn"),
			document.getElementById("speed_decrease_btn")
		];
		var speed_label = document.getElementById("speed_label");
		var speed_meter = document.getElementById("speed_meter");
		
  		document.addEventListener('DOMContentLoaded', function() {
    			var elems = document.querySelectorAll('.fixed-action-btn');
			var instances = M.FloatingActionButton.init(elems, {
			hoverEnabled: false
			}); 
			//options is in the documentation for materialize, but it had to be removed due to an error for 'options not defined'
			console.log(instances);
  		});

	
		var ops = document.getElementById("set_ops").children;
 		
		for(var i = 0;i<ops.length;i++){
			var op = ops[i].children[0];
			console.log(op.id);
			op.addEventListener("click",myFunction);

		}
		for(var i = 0;i<controlbuttons.length;i++){
			var btn = controlbuttons[i];
			btn.addEventListener("click",myFunction);
		}
		//ops.forEach(op => console.log(op));
 		function myFunction(){
			console.log("option selected: ", this.id, "; ", this.className);
		        console.log("label value: ", speed_label.innerText);
			console.log("meter value: ",speed_meter.value);

			switch(this.id){
				case "speed_increase_btn":
					if(speed_meter.value < 100){
						speed_meter.value= parseInt(speed_meter.value)+10;
						console.log("speed increased to:",speed_meter.value);
					}	

					speed_label.innerText = speed_meter.value+"%";
					break;
				case "speed_decrease_btn":
					if(speed_meter.value > 0){
						speed_meter.value= parseInt(speed_meter.value)-10;
						console.log("speed decreased to:",speed_meter.value);
					}
					speed_label.innerText = speed_meter.value + "%";
					break;
				case "drive_stop_btn":
					speed_meter.value = "0";
					speed_label.innerText = speed_meter.value + "%";
					console.log("stopping.");
					break;
				case "test_steer_btn":
					runTests(this.id);
					break;
				case "test_drive_btn":
					runTests(this.id);
					break;
				default:
					console.log("no match found.");
			}
			if(this.className.indexOf("blue-grey") == -1){
				this.className = this.className.replace("red","blue-grey");
				if(this.id == "cam_btn"){
					camControl("stop_camera");
				}
			}
			else{
				this.className = this.className.replace("blue-grey","red");
				if(this.id == "cam_btn"){
					camControl("start_camera");
				}
			}
			
		}

		function runTests(test){
			console.log("running test for:", test);
			$.ajax({
				type: "POST",
				url: 'sanity_checks',
				data:{
					'test' : test,
					'csrfmiddlewaretoken':'{{ csrf_token }}',	
				},
				success: function(){
					console.log("success");
				}
			});
		}

		function camControl(ctrl){
			if(ctrl == "stop_cam"){
				//document.getElementById("camFeed_frame").attr("src"," static picar/images/test.jpg");	
			}
			else{
				document.getElementById("camFeed_frame").attr("src"," url piCamFeed");
			}
			console.log("camera control action: ", ctrl);
			$.ajax({
				type: "POST",
				url: ctrl,
				data: {
					'ctrl' : ctrl,
					'csrfmiddlewaretoken' : '{{ csrf_token }}',
				},
				success: function(){
					console.log("success")
				}
			});
		}
	</script>
</body>

</html>
