
li {
   color: white;
}

body {
   background-color: #263238;
}

.btDevRow {
   background-color: white;
   color: blue;
   border-bottom: 1px solid blue;
}

.bt_device_table {
   overflow: hidden;
   overflow-y: scroll;
   height: 50px;
   width: 250px;
}
